<% layout('layout/boilerplate') %>
  <div class="px-4 md:px-6 lg:px-2">

    <%- include('../partials/searchBar') %>
      <div class="my-12">
        <h1 class="text-3xl font-bold text-gray-900">Discounted Products!</h1>
        <p>Enjoy shopping with our discounted products!</p>
       
      </div>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6" style="z-index: 2;">
        <% for (let item of items) { %>
          <section class="rounded-lg bg-white shadow-md hover:shadow-lg transition-shadow duration-300 h-full flex flex-col">
            <div class="relative overflow-hidden rounded-t-lg group flex-grow">
              <div onclick="window.location.href='/items/<%= item._id %>'" class="cursor-pointer flex flex-col h-full">
                <div class="aspect-ratio-container relative">
                  <% if (item.discount != 0) { %>
                    <div class="absolute z-10 top-0 left-0 bg-[#CC0C39] text-white p-2">
                      <span class="text-xs font-semibold w-full">
                        <%= item.discount %> % Off
                      </span>
                    </div>
                  <% } %>
                  <img src="<%= item?.images[0]?.thumbnail2 %>" alt="<%= item?.title %>"
                    class="object-cover object-center transition-transform duration-300 group-hover:scale-[1.05]">
                  <div class="overlay absolute inset-0 opacity-80 group-hover:opacity-30 transition-opacity duration-300">
                  </div>
                </div>
                <div class="bg-white p-4 card-content flex-grow">
                  <div class="flex flex-row justify-between">
                    <span class="font-semibold mb-1 text-lg text-gray-800">
                      <%= item?.title %>
                    </span>
                    <form id="addToCartForm" action="/shoppingCart" method="POST" class="cursor-pointer flex flex-row text-wrap text-white justify-center items-center">
                      <button style="font-size: 12px;" class="rounded-full p-1 text-nowrap cursor-pointer flex flex-row text-white justify-center items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="#12610f" class="hover:fill-slate-800">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2 1C1.44772 1 1 1.44772 1 2C1 2.55228 1.44772 3 2 3H3.21922L6.78345 17.2569C5.73276 17.7236 5 18.7762 5 20C5 21.6569 6.34315 23 8 23C9.65685 23 11 21.6569 11 20C11 19.6494 10.9398 19.3128 10.8293 19H15.1707C15.0602 19.3128 15 19.6494 15 20C15 21.6569 16.3431 23 18 23C19.6569 23 21 21.6569 21 20C21 18.3431 19.6569 17 18 17H8.78078L8.28078 15H18C20.0642 15 21.3019 13.6959 21.9887 12.2559C22.6599 10.8487 22.8935 9.16692 22.975 7.94368C23.0884 6.24014 21.6803 5 20.1211 5H5.78078L5.15951 2.51493C4.93692 1.62459 4.13696 1 3.21922 1H2ZM18 13H7.78078L6.28078 7H20.1211C20.6742 7 21.0063 7.40675 20.9794 7.81078C20.9034 8.9522 20.6906 10.3318 20.1836 11.3949C19.6922 12.4251 19.0201 13 18 13ZM18 20.9938C17.4511 20.9938 17.0062 20.5489 17.0062 20C17.0062 19.4511 17.4511 19.0062 18 19.0062C18.5489 19.0062 18.9938 19.4511 18.9938 20C18.9938 20.5489 18.5489 20.9938 18 20.9938ZM7.00617 20C7.00617 20.5489 7.45112 20.9938 8 20.9938C8.54888 20.9938 8.99383 20.5489 8.99383 20C8.99383 19.4511 8.54888 19.0062 8 19.0062C7.45112 19.0062 7.00617 19.4511 7.00617 20Z"
                            fill="#12610f" />
                        </svg>
                      </button>
                      <input type="hidden" name="itemId" value="<%= item.id %>">
                      <input type="hidden" name="itemColor" id="itemColor" value="#000000">
                    </form>
                  </div>
                  <div class="flex justify-start items-center">
                    <% if (item.discount != 0) { %>
                      <span class="text-gray-500 line-through">
                        <%= (parseFloat(item.price) * parseFloat(1 + (item.discount / 100))).toFixed(2) %> BHD
                      </span>
                      <span class="text-gray-700 font-semibold">
                        &#8203;  <%= item.price %>
                      </span>
                    <% } else { %>
                      <span class="text-gray-700 font-semibold">
                        <%= item.price %>
                      </span>
                    <% } %>
                  </div>
                  <p class="text-gray-600 mt-1 description">
                    <% if (item.description) { %>
                      <%= item.description %>
                    <% } else { %>
                      No description available.
                    <% } %>
                  </p>
                  <% function generateStars(rating) { %>
                    <% let stars = ''; %>
                    <% for (let i = 0; i < 5; i++) { %>
                      <% if (i < rating) { %>
                        <% stars += '★'; %>
                      <% } else { %>
                        <% stars += '☆'; %>
                      <% } %>
                    <% } %>
                    <% return stars %>
                  <% } %>
                  <% function displayAverageRating(reviews) { %>
                    <% if (reviews.length === 0) { %>
                      <% return 'No reviews yet'; %>
                    <% } %>
                    <% let totalRating = 0; %>
                    <% reviews.forEach(review => { %>
                      <% totalRating += review.rating; %>
                    <% }); %>
                    <% const averageRating = totalRating / reviews.length; %>
                    <% if (parseInt(reviews.length) === 1) { %>
                      <% return generateStars(Math.round(averageRating)) + ` (${reviews.length} review)`; %>
                    <% } %>
                    <% return generateStars(Math.round(averageRating)) + ` (${reviews.length} reviews)`; %>
                  <% } %>
                  <span class="text-[#12610f] mt-2">
                    <%= displayAverageRating(item.reviews) %>
                  </span>
                </div>
              </div>
            </div>
          </section>
          <% } %>
      </div>
  </div>